<!------- [ Start ] toolbar  ------------>

<mat-toolbar color="primary">
  <span i18n="App toolbar header">Action Center</span>
</mat-toolbar>

<!------- [ End ] toolbar  ------------>


<div class="container">

  <div class="row">

    <!------- [ Start ] action lists display ------------>

    <div class="action-list" *ngFor="let list of actionLists">

      <h3 class="action-list-title">
        {{ list.title }}
      </h3>

      <div class="action-list-body">

        <div class="action-item-wrapper" *ngFor="let action of list.actions">

          <app-action-item [action]="action" [personsList]="personsList"
                           (actionChange)="updateAction($event,list.id)">

          </app-action-item>

        </div>

      </div>

    </div>

    <!------- [ End ] action lists display ------------>

  </div>


</div>
