.action-item {
  width: 320px;
  text-align: left;

  .action-item-card-header{
    overflow: hidden;
  }

  .action-assignedTo-container {
    width: 180px;
    height: 64px;
    overflow: hidden;
    display: inline-block;

    .action-assignedTo {
      display: inline-block;
      margin: 4px;
    }
  }


  .action-date-picker {
    width: 140px;
    vertical-align: top;
    display: inline-block;

    input {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }

  .action-edited-description {
    width: 100%;
    margin-bottom: 8px;
    line-height: 16px;
  }

  .action-type-menu {

    mat-select {
      width: 100px;

      img {
        width: 80%;
        height: auto;
      }

    }
  }
}
