<mat-card *ngIf="action && personsList" class="action-item">

  <div class="action-item-card-header">


    <!------- [ Start ] action assignedTo  ------------>

    <div class="action-assignedTo-container">
      <app-person class="action-assignedTo"
                  *ngFor="let personId of action.assignedTo"
                  [person]="getPersonById(personId)"
                  [matMenuTriggerFor]="personsMenu"
                  [matMenuTriggerData]="{id: personId}"
                  [hideName]="taskAssignedToManyPersons()">
        <!-- if there is more then one person hide name and only show initials -->

      </app-person>
    </div>

    <mat-menu id="personsMenu" #personsMenu="matMenu">
      <ng-template matMenuContent let-id="id">
        <button mat-menu-item
                *ngFor="let person of excludeExistingPersons()"
                (click)="replacePersonId(id,person.id)">
          <app-person [person]="person" [hideName]="false"></app-person>
        </button>
        <mat-divider></mat-divider>

        <ng-container *ngIf="taskAssignedToManyPersons()">
          <button mat-menu-item (click)="removePersonId(id)">
            <mat-icon>delete</mat-icon>
            <ng-container i18n="Cancel task Assignment from a person">
              Cancel assignment
            </ng-container>
          </button>
          <mat-divider></mat-divider>

        </ng-container>

        <button mat-menu-item [matMenuTriggerFor]="addPersonsMenu" [matMenuTriggerData]="{id: id}">
          <mat-icon>add</mat-icon>
          <ng-container i18n="Assign task to another persons(s)">
            Add New
          </ng-container>
        </button>

      </ng-template>
    </mat-menu>

    <mat-menu #addPersonsMenu="matMenu">
      <ng-template>
        <button mat-menu-item
                *ngFor="let person of excludeExistingPersons()"
                (click)="addPersonId(person.id)">

          <app-person [person]="person" [hideName]="false"></app-person>

        </button>
      </ng-template>
    </mat-menu>
    <!------- [ End ] action assignedTo  ------------>


    <!------- [ Start ] action date  ------------>


    <div class="action-date-picker">
      <input #actionDateInput [matDatepicker]="picker" [value]="parseDate()" (dateChange)="changeDate($event)">
      <mat-datepicker #picker></mat-datepicker>
      <button mat-button (click)="picker.open()">
        <mat-icon>event</mat-icon>
        {{actionDateInput.value}}
      </button>
    </div>


    <!------- [ Start ] action date  ------------>

  </div>

  <mat-card-content>

    <!------- [ Start ] action description  ------------>

    <div *ngIf="!editMode"
         (dblclick)="initForm()">
      {{action.content}}
    </div>

    <form *ngIf="editMode" #descriptionForm="ngForm" novalidate (ngSubmit)="onSubmit(descriptionForm)">

      <mat-form-field class="action-edited-description" appearance="outline">

      <textarea matInput cdkTextareaAutosize="true" cdkAutosizeMaxRows="6"
                required [(ngModel)]="editedDescription" name="description" #description="ngModel"></textarea>

        <mat-error *ngIf="description.invalid" i18n="Error message to inform user that the field is required">
          Description field is required
        </mat-error>

      </mat-form-field>

      <button mat-flat-button type="reset" (click)="editMode=false;descriptionForm.reset();"
              i18n="Save action description edited">
        Cancel
      </button>

      <button mat-flat-button type="submit" color="primary" i18n="Save action description after edited">
        Save
      </button>
    </form>

    <!------- [ End ] action description  ------------>


  </mat-card-content>

  <mat-card-actions>

    <!------- [ Start ] action type menu  ------------>

    <button mat-button [matMenuTriggerFor]="actionTypeMenu">

      <img *ngIf="action.type!=='default'" [src]="'assets/'+action.type+'.svg'" style="width: 64px">

      <ng-container *ngIf="action.type==='default'" i18n="Default action item type">
        Default
      </ng-container>

    </button>

    <mat-menu class="action-type-menu" #actionTypeMenu="matMenu">

      <button mat-menu-item (click)="changeActionType('jira')">
        <img src="assets/jira.svg" alt="jira" style="width: 64px">
      </button>

      <button mat-menu-item value="slack" (click)="changeActionType('slack')">
        <img src="assets/slack.svg" alt="slack" style="width: 64px">
      </button>

      <button mat-menu-item value="trello" (click)="changeActionType('trello')">
        <img src="assets/trello.svg" alt="trello" style="width: 64px">
      </button>

      <button mat-menu-item value="none" (click)="changeActionType('default')"
              i18n="Default action item style">
        Default
      </button>
    </mat-menu>

    <!------- [ End ] action type menu  ------------>


    <!------- [ Start ] jira action type menu  ------------>

    <ng-container *ngIf="action.type==='jira'">

      <button class="jiar-action-type-button" mat-button [matMenuTriggerFor]="jiraActionTypeMenu">

        <img *ngIf="action.type!=='default'" [src]="'assets/'+action.jiraActionItemType+'.svg'"
             style="width: 24px">
      </button>

      <mat-menu #jiraActionTypeMenu="matMenu">

        <button mat-menu-item (click)="changeJiraActionType('task')">
          <img src="assets/task.svg" alt="task" style="width: 36px;vertical-align: middle">
          <ng-container i18n="Jira action type">Task</ng-container>
        </button>

        <button mat-menu-item value="story" (click)="changeJiraActionType('story')">
          <img src="assets/story.svg" alt="story" style="width: 36px;vertical-align: middle">
          <ng-container i18n="Jira action type">Story</ng-container>
        </button>

        <button mat-menu-item value="bug" (click)="changeJiraActionType('bug')">
          <img src="assets/bug.svg" alt="bug" style="width: 36px;vertical-align: middle">
          <ng-container i18n="Jira action type">Bug</ng-container>
        </button>

      </mat-menu>

    </ng-container>

    <!------- [ End ] jira action type menu  ------------>

  </mat-card-actions>


</mat-card>
